/* min.css from http://mincss.com/ is kept as a separate file */

.w-80 {
  width: 80% !important;
}

.w-100 {
  width: 100% !important;
}

.m-t-sm {
  margin-top: 10px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-t-0 {
  margin-top: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}


.p-lg {
  padding: 1.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

input, textarea, select {
  box-sizing: border-box;
}

label {
  white-space: nowrap;
  padding-right: 5px
}

.red {
  color: red
}

.grey {
  color: grey
}

.p {
  padding: 10px;
}

.head-underline {
  border-bottom: 5px solid;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.card {
  background: #eee;
	padding: 10px;
  margin-top: 1em;
}

